@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --main-bg: #D5E1EF;
    --white: #fff;
    --light-gray: hsl(212, 45%, 89%);
    --dark-blue: hsl(218, 44%, 22%);
    --grayish-blue: hsl(220, 15%, 55%);
    --heading: 22px;
    --paragraph: 15px;
    --font-outfit: 'Outfit', sans-serif
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-outfit);
    color: var(--grayish-blue);
    font-size: var(--paragraph);
    font-weight: 400;
    overflow: hidden;
    position: relative;
}


.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    background: var(--main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    animation: slide-in 1s 0.8s forwards;
    transform: translateX(-100vw);
}

@keyframes slide-in {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}

.helper-wrapper {
    min-height: 100vh;
    min-width: 100vw;
    background: var(--dark-blue);
    animation: slide-in-reverse 1s forwards;
    transform: translateX(100vw);
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes slide-in-reverse {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

.card {
    background: var(--white);
    border-radius: 20px;
    width: 315px;
    animation: move-in 1s 1.9s forwards;
    opacity: 0;
}

@keyframes move-in {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 16px;
    padding-top: 6px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}


h2 {
    font-weight: 700;
    color: var(--dark-blue);
    font-size: var(--heading);
}

.qr-wrapper {
    margin: 15px;
    border-radius: 10px;
    background: url('./images/qr-code.png') no-repeat center;
    background-size: contain;
    height: 285px;
}